body {
  background-color: #f5e942;
  background-image: url(/img/notepad.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

/* styles */
p {
  color: #ad0704;
  font-weight: bolder;
  text-shadow: rgb(128, 0, 0);
}
h1 {
  color: black;
}
.journal_header {
  text-align: center;
  padding-top: 100px;
}
.journal_fields {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.journal_form {
  display: flex;
  justify-content: center;
}
.entryLog {
  padding-top: 15px;
  display: flex;
  justify-content: space-evenly;
  flex-basis: auto;
  flex: 0 1 calc(25% - 1em);
  flex-wrap: wrap;
}
.journal-card {
  border: 4px solid #a38250;
  width: 35%;
  margin: 10px 10px;
  background-color: #dadada;
  opacity: -10%;
  text-align: center;
}

/* end of styles */
