body {
  background-color: #f5e942;
  background-image: url(/img/notepad.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

/* styles */
p {
  color: #ad0704;
  font-weight: bolder;
  text-shadow: rgb(128, 0, 0);
}
h1 {
  color: black;
}
.journal_header {
  text-align: center;
  padding-top: 100px;
  font-family: "Varela Round", sans-serif;
}
.journal_fields {
  display: flex;
  flex-direction: column;
  width: 85%;
}
.journal_form {
  display: flex;
  justify-content: space-evenly;
  margin: auto;
}
.entryLog {
  padding-top: 15px;
  display: flex;
  justify-content: space-evenly;
  flex-basis: auto;
  /* align-items: center; */
  /* flex: 0 1 calc(25% - 1em); */
  flex-wrap: wrap;
}
.journal-card {
  border: 9px solid #a38250;
  width: 24%;
  margin: 10px 10px;
  background-color: #dadada;
  opacity: 0.9;
  padding-bottom: 10px;
  padding-left: 25px;
  padding-right: 25px;
  text-align: center;
  border-radius: 10%;
  font-family: "Varela Round", sans-serif;
}
.journal-card:hover {
  background-color: lightskyblue;
}
/* font awesome font size  */
.fas {
  font-size: x-large;
}

/* end of styles */
